body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #efe9cd;
    margin: 0;
}

.content {
    margin: 0 auto; /* Centers the content */
    margin-right: 15%;
    margin-left: 15%;
}

table, tr, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}
    
.scroll-to-top {
    display: block;
    margin: 20px auto;
    text-align: center;
    color: blue;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

caption {
    font-size: 10px;
    font-family: cursive;
}
